changeLogFile=src/main/resources/db/changelog/db.changelog-master.xml
outputChangelogFormat=xml
logLevel=info

url={url}
username={user}
password={password}
driver={driver}

referenceUrl={url}
referenceUsername={referenceUsername}
referencePassword={referencePassword}
referenceDriver={referenceDriver}